@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

/* Test to see if CSS loads */
.test-css-loaded {
  border: 2px solid #39ff14 !important;
}
